[Unit]
Description=RK3588-EIA VLA System
After=network.target multi-user.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/rk3588/RK3588-EIA
ExecStart=/usr/bin/python3 /home/rk3588/RK3588-EIA/main.py
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
